[submodule "rtyc"]
	path = rtyc
	url = https://github.com/hooay233/RunTuYuCha-Build.git
[submodule "hpc"]
	path = hpc
	url = https://github.com/hooay233/HoverPoemCreator
[submodule "wctspp"]
	path = wctspp
	url = https://github.com/hooay233/web-canvas-that-support-pen-pressure
